* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    justify-items: center;  
    font-family: "Original Surfer", sans-serif;
    font-style: normal;

    max-width: 2600px;
    
    
    
}

body {
    background-color: #313031;
}
.header {
    width: 1500px;
    height: 70px;
    align-items: center;
    display: flex;
    justify-content: space-around;
    
    background-color: #1B1B1B;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: aqua;
      
}

.Menu {
    width: 1100px;
    font-size: 30px;

}

.aHome {
    padding-left: 200px;
    
}

.aProjetos {
    padding-left: 100px;
}

.aContato{
    padding-left: 100px;
}

.mainProfile {
    width: 100%;
    display: flex;
    flex-direction:row-reverse;
    margin-top: 5%;
    


    border-style: groove;

}
.imgProfile {
    object-fit: cover;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0;
    padding: 0;
    

    
    

   
    border-style: groove;
    

}
.mainProfile h1 {
    font-size: 50px;
    margin-right: 8%;

}

.mainProfile span {
   max-width: 964px;
   font-size: 25px;

    
    color: blue;
    

    margin-right: 15%;

    border-style: groove;
    

    
    
    
    
    
   
}


