 * {
    margin: 0;
    padding: 0;
    text-decoration: none;
    justify-items: center;  
    font-family: "Original Surfer", sans-serif;
    font-style: normal;
    
    max-width: 2600px;

    justify-content: flex-start;
    background-color: #5e5d5e;
    
    
    
}

.header {
    display: flex;
    justify-content: space-around;
    background-color: #313030;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: aqua;
}

.header nav {
    background-color: #313030;
}
.header a {
    background-color: #313030;
    font-size: 40px;
}

.Menu {
    width: 1100px;
    font-size: 30px;

}

.aHome {
    padding-left: 200px;
    
}

.aProjetos {
    padding-left: 100px;
}

.aContato{
    padding-left: 100px;
}

.mainProfile {
    width: 100%;
    display: flex;
    flex-direction:row-reverse;
    margin-top: 5%;
    


    border-style: groove;

}
.imgProfile {
    object-fit: cover;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0;
    padding: 0;
    
    

    
    

   
    border-style: groove;
    

}
.mainProfile h1 {
    font-size: 50px;
    margin-right: 8%;

}




