* {
    padding: 0;
    margin: 0;
    background-color: rgb(34, 31, 31);
}

.header {
    width: 100%;
    height: 103px;
    background-color: gray;  
}

.header a {
    font-size: 35px;
    text-decoration: none;
    background-color: gray;
    margin-left: 21%;   
}

.imgProfile {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 65%;
    margin-top: 9%;
}





.H1 {
    color: #dbd56e;
    background: -webkit-linear-gradient(25deg, #eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3rem;
    font-weight: 500;
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid;
    animation: type 1.5s steps(90) 1.5s 1 normal both, cursor 1s step-end infinite;
    position: relative;
  }
  
  @keyframes type {
    from {
      width: 0;
    }
  
    to {
      width: 100%;
    }
  }
  
  @keyframes cursor {
    50% {
      border-color: transparent;
    }
  }