
Apresentando o Projeto

Neste projeto do Perfil de Viagens, vamos explorar conceitos como Display Flex e variáveis CSS. 
Vamos utilizar o Figma para a navegação do projeto e o Style Guide. 
Fique atento, pois em um momento da aula não foi feita a duplicação do projeto, mas isso será explicado. 
Além disso, serão mostradas configurações do Visual Studio Code, como o uso do Zemmode e do plugin Live Server.